@import '~shared/styles/config';

.cardList {
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;

    @include viewport(tablet) {
        &.three {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    @include viewport(max1440) {
        width: 100%;
        grid-gap: 16px;
    }

    @include viewport(mobileMax) {
        padding: 0 15px;
        grid-template-columns: 1fr;
    }

    .intro {
        @include viewport(mobile) {
            grid-column: 1/3;
        }

        h2 {
            font-size: 26px;
            font-weight: $font-medium;
        }
    }
}
