@import '~shared/styles/config';

.verify {
    padding: 6em 0;
    padding-top: 120px;
    min-height: 40vh;

    @include viewport(mobileMin) {
        min-height: 90vh;
    }

    // background-color: #fcfbfd;
    // // background-image: url('//web.ccpgamescdn.com/aws/eveonline/images/backgrounds/stars.jpg');
    // background-image: url('https://images.ctfassets.net/7lhcm73ukv5p/3R9Nmw5kyTLJcolmc480fz/e4a22e15c9034d99a61f909ea19f2f41/signup-bg.jpg');

    @include bg-img;

    .logo {
        position: absolute;
        top: 0;
        display: block;
        max-width: 100%;
        z-index: 3;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 20px;
    }

    .success,
    .failed {
        margin-right: 20px;

        @include viewport(mobileMax) {
            display: block;
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    .success {
        color: $brand-success;
    }

    .failed {
        color: $www-blood-red;
    }

    .container {
        text-align: center;
        max-width: 630px;
        margin: 0 auto;
        padding: 40px 15px;

        h1,
        h2 {
            margin-bottom: 20px;
            // margin-left: 20px;

            @include viewport(mobileMax) {
                margin-left: 0;
            }
        }

        .getNewEmail {
            margin: 20px 0;
            font-weight: 500;
        }

        .buttons {
            width: 100%;
            max-width: 500px;
            margin: 60px auto 0;
        }

        .text {
            padding-top: 25px;
        }
    }

    .upSellContainer {
        display: none;
    }

    .upSellProduct {
        margin-top: 50px;
        // animation: bounce-in-bottom 0.9s both;
        // animation-delay: 3s;

        h3 {
            text-transform: uppercase;
            // font-size: 22px;
        }

        .headline {
            text-transform: uppercase;
        }

        .ctaContainer {
            background: url(https://web.ccpgamescdn.com/aws/eveonline/images/misc/starter-pack.jpg)
                no-repeat top center;
            background-size: cover;
            text-align: right;
            min-height: 185px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 10px;
            margin-bottom: 5px;
        }
    }
}

/**********************************
    @Media queries
**********************************/

@include viewport(tablet) {
    .verify {
        padding-top: 200px;
        min-height: 90vh;

        .logo {
            left: 70px;
            margin-top: 56px;
            transform: translateX(0);
        }

        .container {
            padding: 25px 60px 35px 60px;
        }
    }
}
