@import '~shared/styles/config';

.hud {
    margin: 10px 0;

    @include viewport(mobile) {
        margin: 60px 0;
    }

    :global {
        .slick-track {
            display: flex;
            flex-grow: 1;
        }

        .slick-slide {
            > div {
                height: 100%;
            }

            &.slick-active {
                z-index: 1;
            }
        }

        .slick-dots {
            margin-left: 15px;

            @include viewport(mobile) {
                margin-left: 0;
            }
        }
    }

    .top {
        //    max-width: 850px;
    }

    .main {
        display: grid;
        grid-template-columns: 800px 1fr;
        grid-gap: 10px;
        margin-top: 60px;

        @include viewport(tabletmax) {
            margin: 0;
        }

        @media screen and (max-width: 1400px) {
            grid-template-columns: 1fr;
            grid-gap: 20px;
        }

        .bgImage {
            position: absolute;
            z-index: 2;
            max-width: none;

            @include viewport(mobileMax) {
                // transform: scale(0.6);
            }
        }

        .imageContainer {
            // width: 100%;
            height: 461px;
            background-repeat: no-repeat;
            position: relative;

            // border: 1px solid pink;

            @include viewport(tabletmax) {
                overflow-x: auto;
                overflow-y: hidden;
                // transform: scale(0.8);
                // top: -50px;
                // height: 400px;
            }

            @include viewport(mobileMax) {
                overflow-x: auto;
                overflow-y: hidden;
                height: 380px;
                // height: 400px;

                .inner {
                    transform: scale(0.75);
                    transform-origin: top left;
                }
            }

            span {
                font-size: 16px;
                line-height: 0.9;
                cursor: pointer;
                transition: 0.2s ease-in-out;

                &:hover {
                    color: $www-academy;
                }

                &.current {
                    color: white;
                    // border: 1px solid;
                    // outline: 1px solid;
                    // box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
                    outline-color: rgba(255, 255, 255, 0);
                    background-color: $www-academy;
                    outline-offset: 15px;
                    // text-shadow: 1px 1px 2px black;
                }
            }

            .hide {
                background-color: black;
                // background-color: red;
                z-index: 1;
                min-width: 120px;
                min-height: 20px;
                position: absolute;
                text-transform: uppercase;
            }

            .item {
                color: #c0c0c0;
                background-color: black;
                z-index: 2;
                // background-color: red;
                position: absolute;
                text-transform: uppercase;
            }

            .btntest {
                // border: 0 solid;
                padding: 4px 6px;
                box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
                outline: 2px solid;
                outline-color: rgba(255, 255, 255, 0.7);
                outline-offset: 0;
                // text-shadow: none;
                transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
            }

            .btntest:hover {
                // border: 1px solid;
                outline: 1px solid;
                // box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(0, 0, 0, 0.2);
                outline-color: rgba(255, 255, 255, 0);
                outline-offset: 15px;
                // text-shadow: 1px 1px 2px black;
            }
        }

        .listContainer {
            background-color: $www-academy-secondary;
            // background-color: red;
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 30px 15px;

            // margin-top: 30px;
            clip-path: polygon(
                0 0,
                45px 0,
                49px 5px,
                104px 5px,
                108px 0,
                113% 0,
                100% 120%,
                0 100%
            );

            .pink {
                display: inline-block;
                color: $www-academy;
                font-weight: 600;
                padding-right: 4px;
                width: 20px;
                // background-color: yellow;
                text-align: right;
            }

            ul {
                margin: 0 10px;
                padding: 0;
                list-style: none;

                li {
                    font-size: 18px;
                    font-weight: 400;
                    margin-bottom: 3px;

                    .listItem {
                        cursor: pointer;
                        transition: 0.2s ease-in-out;
                        &:hover {
                            color: $www-academy;

                            // trigger hover on other items here
                        }
                        &.current {
                            color: $www-academy;
                        }
                    }
                }

                // li::before {
                //     content: '\25A0'; /* Add content: \2022 is the CSS Code/unicode for a bullet */
                //     color: $www-academy; /* Change the color */
                //     font-weight: bold; /* If you want it to be bold */
                //     display: inline-block; /* Needed to add space between the bullet and the text */
                //     width: 1em; /* Also needed for space (tweak if needed) */
                //     margin-left: -1em; /* Also needed for space (tweak if needed) */
                //     position: relative;
                //     top: -2px;
                //     left: -1px;
                // }
            }
        }
    }

    .bottom {
        // background-color: red;
        // margin-top: 10px;
        max-width: 720px;

        @include viewport(tabletmax) {
            margin-top: -20px;
            max-width: 550px;
        }
    }
}
