@import '~shared/styles/config';

.platforms {
    margin-top: 25px;
    opacity: 0;
    animation: opacity 0.7s;
    animation-fill-mode: forwards;
    animation-delay: 2.3s;

    .inner {
        background: rgba($www-night-black, 0.8);
        display: inline-flex;
        align-items: center;
        padding: 5px 10px;
    }

    .text {
        font-size: 15px;
        text-transform: uppercase;
        font-weight: $font-semibold;
        color: $www-silver-gray;
    }

    .icons {
        display: flex;
        align-items: center;
        margin-left: 10px;
        backface-visibility: hidden;

        .icon {
            display: flex;
            transition: transform 0.2s;

            &:first-child {
                margin-right: 10px;
            }

            .color {
                transition: $transition;
            }

            &:hover {
                transform: scale(1.075);

                .color {
                    fill: #fff;
                }
            }
        }
    }
}

@include viewport(mobileMax) {
    .platforms {
        margin-top: 20px;
        text-align: center;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

