@import '~shared/styles/config';

.careers {
    .content {
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        @include viewport(mobile) {
            grid-template-columns: repeat(4, 1fr);
        }

        column-gap: 30px;

        .item {
            padding: 1px;

            @include arrow-hover;

            &.active {
                .video {
                    opacity: 1;
                }
            }

            .paragraph {
                font-size: 16px;

                @include viewport(mobile) {
                    font-size: 18px;
                }
            }
        }

        .image {
            position: relative;
            transition: all 0.2s ease-in-out;

            &:hover {
                filter: brightness(1.2);
            }
        }

        .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 0.3s ease-in-out;
        }

        h3 {
            margin-bottom: 5px;
        }

        p {
            margin-top: 5px;

            span {
                padding-left: 5px;
            }
        }
    }
}
